

    
    h1 {font-family: Ubuntu, sans-serif}
    h2 {font-family: Ubuntu, sans-serif}
    h3 {font-family: Ubuntu, sans-serif}
    h4 {font-family: Ubuntu, sans-serif}
    h5 {font-family: Ubuntu, sans-serif}
    h6 {font-family: Ubuntu, sans-serif}
    
    p {
        font-family: Ubuntu, sans-serif;
        font-size: 12pt;
    }
    
    li {
        font-family: Courier New, monospace;
        font-size: 15pt;
    }

    a {
    color: #000000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчёркивание у ссылок */
    }
   a:visited {
    color: #CD5C5C; /* Цвет посещённой ссылки */
   } 
   a:hover {
       color: #008080;
    }

    ol.hr li {
                display: inline;
                margin-right: 10px;
                text-align: center;
                }

            .img1{list-style-image: url(https://img.icons8.com/small/2x/system-report.png);}
            .img2{list-style-image: url(https://img.icons8.com/small/2x/console.png);}
            .img3{list-style-image: url(https://img.icons8.com/small/2x/railroad-car.png);}
            .img4{list-style-image: url(https://img.icons8.com/small/2x/active-directory.png);}
            .img5{list-style-image: url(https://img.icons8.com/small/2x/combi-ticket.png);}

            .hc{text-align: center;}
            .hc > ul {display: inline-block;
                        text-align: left;}    
            

.okno{
    background-color: #F5DEB3;
    box-shadow: 0 0 15px #8B0000;
        margin-left: 10%;
        margin-right: 10%;
        padding: 20px;
        border: 4px solid #8B0000;
        text-align: center;
    overflow: hidden;
    max-width: 100%;
}

.text_justify{
    text-align: justify
}
main{
    margin-left: 15pt;
    margin-right: 15pt;
}
.ok{
    border-radius: 7px;
    border-style: solid;
    border-color: #8B0000;
    padding: 10px;
    box-shadow: 0 0 15px #8B0000;
    margin: 10px;
    padding: 15px;
    max-width: 200px;  
    min-height: 300px;
}
.container{
                display:flex;
                flex-wrap: wrap;
                margin: 20px;
}

}
@media screen and (max-width: 450px) {
    .photo{
        display: none;
    }
}
@media screen and (min-width: 750px){
    .photo{
        border-radius: 0px;
    }
}

.imgme{
        float:left; 
        margin: 10px 10px 10px 0;
}

footer{
  display: flex;
  justify-content: center;
  padding: 5px;
  background-color: #F5DEB3;
  color: #fff;  
}

.symbol {
  color: #fffcfc;
  margin-top:6px;
  margin-left:29px;
  height:29px;
}
